.box {
    background-color: #ddd;
    border: 3px solid black;
    padding: 20px;
}

.todo {
    background-color: lemonchiffon;
    border: 3px dotted black;
    padding: 20px;
}

.dlbtn {
    background: linear-gradient(#428bca, #2a6496) !important;
    text-align: center;
    border-color: #245682;
    border-radius: 5px;
    color: white !important;
    padding: 0.5em;
}
